$header-background-img-url: "../../img/hero-small.jpg";

$feature-background-img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwIutftrTqcmKyi7CGZ2N6XdwVmI2nE0M-KA&s";

$card-img-1: "../../img/photo-5.avif";

$card-img-2: "../../img/photo-4.avif";

$card-img-3: "../../img/photo-6.avif";