

/* button */
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.4s ease;
    position: relative;
    font-size: 1.6rem;
    animation: moveFromBottom 0.7s ease-out 0.5s backwards;
    cursor: pointer;
    border: none;
  }

  &:hover,
  &:focus {
    outline: none;
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  /* Pseudo-element styling */
  &::after {
    content: "";
    display: block; /* Block display for full coverage */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4; /* Ensure it is behind the button */
    background-color: rgba(255, 255, 255, 0.3); /* Background color for the pseudo-element */
    transform: scale(1);
    transition: all 0.5s ease; /* Transition time */
  }

  /* Hover effect on pseudo-element */
  &:hover::after {
    transform: scale(1.3); /* Scale the pseudo-element */
    background-color: rgba(255, 255, 255, 1); /* Change background color */
    opacity: 0;
  }

  &:active {
    transform: translateY(-.1rem); /* Slight translate on click */
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2); /* Adjust shadow */
  }

  /* button text */
  &-text {
    &:link,
    &:visited {
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      padding: .3rem;
      font-size: $normal-font;
      @include secondaryBackground {
        color: $color-secondary-light;
      }
    }
  }

  /* White button */
  &--white {
    background-color: white !important;
    color: black;

    &::after {
      background-color: white;
    }
  }

  /* Green button */
  &-green {
    background-color: $color-primary !important;
    color: white;
    font-size: 1.5rem !important;

    @include secondaryBackground {
      background-color: $color-secondary-light !important;
    }

    &::after {
      background-color: $color-primary;

      @include secondaryBackground {
        background-color: $color-secondary-light !important;
      }
    }
  }

  /* Light green button */
  &-green-light {
    background-color: $color-primary-light !important;
    color: white;
    font-size: 1.5rem !important;

    &::after {
      background-color: $color-primary-light;
    }
  }
}
